html {
  font-family: 'Open Sans', sans-serif;
}

.logosize {
  width: 5rem;
}

a, p {
  text-decoration: none;
  color: #999;
}

header ol li {
  display: inline-block;
  padding-left: 2rem;
}

header nav a:after, .top a:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

header nav a:hover:after {
  width: 80%;
  background: black;
}

nav ol a:hover, .top a:hover{
  color: black;
}

.banner {
  background-image: url("../images/brideandgroom.jpg");
  min-height: 650px;
  background-repeat: no-repeat;
  background-position: center center;
}

.bannercontent {
  position: absolute;
  bottom: 8rem;
}

.viewport {
  height: 100vh;
}

.button {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  color: #fff;
  background-color: #D8D8D8, 0.75;
  background-color: rgba(216, 216, 216, 0.7);
  padding: 12px 34px;
}

.button:hover {
  background-color: #B5B5B5;
  border-color: #B5B5B5;
  color: #fff;
}

h1 {
  color: #fff;
  font-family: 'Dancing Script', cursive;
}

footer {
  background-color: #e5e5e5;
}

footer ol li {
  display: inline-block;
}

footer ol {
  padding: 0;
}

@media only screen and (min-width: 25em) {


  header ol li {
    display: inline;
    padding-left: 0;
  }

  header nav ol {
    text-align: center;
  }

  .logo {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
  }

  .logosize {
    width: 6rem;
  }

  .bannercontent {
    position: absolute;
    bottom: 12rem;
  }

@media only screen and (min-width: 38em) {


  header ol li {
    display: inline-block;
    padding-left: 2rem;
  }

  header nav ol {
    text-align: right;
  }

  .logo {
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
  }

  .logosize {
    width: 5rem;
  }

  .bannercontent {
    position: absolute;
    bottom: 8rem;
  }
}
