html {
  font-family: 'Open Sans', sans-serif;
}

.logosize {
  width: 5rem;
}

a {
  text-decoration: none;
  color: #999;
}

p {
  font-size: .7901rem;
  line-height: 1.3rem;
}

header ol li {
  display: inline-block;
  padding-left: 2rem;
}

header nav a:after, .top a:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

header nav a:hover:after {
  width: 80%;
  background: black;
}

nav ol a:hover, .top a:hover{
  color: black;
}

main {
  padding-left: .75rem;
  padding-right: .75rem;
  padding-bottom: .75rem;
}

.about {
  padding-right: none;
}

.steps {
  padding-left: none;
}

.viewport {
  height: 100vh;
}

.banner {
  background-image: url("../images/brideandgroom.jpg");
  min-height: 650px;
  background-repeat: no-repeat;
  background-position: center center;
}

.bannercontent {
  position: absolute;
  bottom: 8rem;
}

h1 {
  color: #fff;
  font-family: 'Dancing Script', cursive;
}

h5 {
  margin-bottom: 0.75rem;
}

.button {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  color: #fff;
  background-color: #D8D8D8, 0.75;
  background-color: rgba(216, 216, 216, 0.7);
  padding: 8px 56px;
}

.button:hover {
  background-color: #B5B5B5;
  border-color: #B5B5B5;
  color: #fff;
}

.button2 {
  border-style: solid;
  border-width: 2px;
  border-color: #9D9D9D;
  background-color: #F5F5F5;
  color: #9D9D9D;
  padding: 8px 56px;
}

.button2:hover {
  background-color: #B5B5B5;
  border-color: #B5B5B5;
  color: #fff;
}

.tagline {
  text-align: right;
  background-color: rgba(216, 216, 216, 0.7);
  padding-bottom: 0.1rem;
}

.leaf {
  width: 0.75rem;
}

.taglinetext {
  color: #fff;
}

.portrait {
  padding-left: 1.3rem;
}

.fineprint {
  border-width: 1px;
  border-color: #DDD9D9;
  border-style: solid;
}

.fineprint p {
  margin-bottom: 0;
}

footer {
  background-color: #e5e5e5;
}

footer ol li {
  display: inline-block;
}

footer ol {
  padding: 0;
}

@media only screen and (min-width: 25em) {


  header ol li {
    display: inline;
    padding-left: 0;
  }

  header nav ol {
    text-align: center;
  }

  .logo {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
  }

  .logosize {
    width: 6rem;
  }

  .bannercontent {
    position: absolute;
    bottom: 12rem;
  }

  .social, .email {
    text-align: left;
  }

  .social {
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: 38em) {


  header ol li {
    display: inline-block;
    padding-left: 2rem;
  }

  header nav ol, .social, .email {
    text-align: right;
  }

  .logo {
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
  }

  .logosize {
    width: 5rem;
  }

  .bannercontent {
    position: absolute;
    bottom: 8rem;
  }

  .social {
    padding-bottom: 0;
  }
}
