html {
  font-family: 'Open Sans', sans-serif;
}

.text-content {
  max-width: 600px;
}

.modal {
  position: absolute;
}

.modal-image {
  padding: 0;
  margin: 0;
  border: 0;
}

.modal p {
margin-bottom: 0px;
line-height: 1.2rem;
}

.btn-close {
color: #999;
text-decoration: none;
}

.btn-close:hover {
color: black;
}

.modal:before {
display: none;
}

.modal:target:before {
display: block;
}

.modal:target .modal-dialog {
-webkit-transform: translate(0, 0);
-ms-transform: translate(0, 0);
transform: translate(0, 0);
}

.modal-dialog {
background: #fff;
border-radius: 3px;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
position: absolute;
left: 50%;
top: 50%;
z-index: 11;
transform: translate(-50, -50%)
}

#close {
display: none;
}
