* {
  font-family: "Open Sans", sans-serif;
}

.viewport {
  height: 100vh;
}

.logosize {
  width: 5rem;
}

a {
  text-decoration: none;
  color: #003b44;
}

p {
  font-size: 0.7901rem;
  line-height: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  height: 12%;
  min-height: 80px;
}

header ol li {
  display: inline-block;
  padding-left: 2rem;
}

header nav a:after,
.top a:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

header nav a:hover:after {
  width: 80%;
  background: #008d9b;
}

nav ol a:hover,
.top a:hover {
  color: #008d9b;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.banner-container {
  flex: 1;
  height: 88%;
  position: relative;
}

.banneroverlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(
    to bottom,
    rgba(81, 28, 5, 0.4),
    rgba(126, 58, 28, 0.2)
  );
}

h1 {
  color: #fff;
  font-family: "Rochester", cursive;
  font-size: 4rem;
  line-height: 4.5rem;
  padding-top: 5rem;
}

h5 {
  margin-bottom: 0.75rem;
}

.button {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  color: #fff;
  background-color: rgba(0, 59, 68, 0.75);
  padding: 8px 56px;
}

.button2 {
  border-style: solid;
  border-width: 2px;
  border-color: #003b44;
  background-color: #003b44;
  color: #fff;
  padding: 8px 56px;
}

.button:hover,
.button2:hover {
  background-color: #008d9b;
  border-color: #008d9b;
  color: #fff;
  transition: 0.5s ease;
}

.send-btn {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  color: #fff;
  background-color: #003B44;
  padding: 8px 48px;
}

.send-btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #003B44;
  transition: 0.5s ease;
}

.tagline {
  text-align: right;
  background-color: rgba(0, 85, 98, 0.75);
  padding-bottom: 0.1rem;
}

.leaf {
  width: 0.75rem;
}

.taglinetext {
  color: #fff;
}

.fineprint {
  width: 70%;
  margin: 0 auto;
}

.fineprint2 {
  border-width: 1px;
  border-color: #d5d5d5;
  border-style: solid;
}

.fineprint2 p {
  margin-bottom: 0;
}

.number {
  padding-right: 1rem;
}

.about {
  padding-left: 1.3rem;
}

footer {
  position: sticky;
}

footer ol li {
  display: inline-block;
}

footer ol {
  padding: 0;
}

.category {
  background-color: #f1f1f1;
  padding-top: 0.5rem;
}

.category h6 {
  margin-left: 1.125rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.3rem;
  padding-top: 0.975rem;
}

.category:hover {
  background-color: rgba(0, 85, 98, 0.75);
  transition: 0.5s ease;
}

.category:hover a {
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.image:hover .overlay {
  opacity: 0.5;
  background-color: #7e3a1c;
}

section {
  background-color: #003B44;
}

input,
textarea {
  border: none;
  width: 100%;
}

.intouch,
label {
  color: #fff;
}

label {
  padding-bottom: 1rem;
}

@media all and (max-width: 600px) {
  header {
    min-height: 200px;
  }
}

@media only screen and (min-width: 25em) {
  header ol li {
    display: inline;
    padding-left: 0;
  }

  header nav ol {
    text-align: center;
    padding-left: 0;
  }

  header nav a:hover:after {
    width: 0%;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .logo {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
  }

  .logosize {
    width: 6rem;
  }

  .social,
  .email {
    text-align: left;
  }

  .social a {
    margin-right: 0.325rem;
  }

  .social {
    padding-bottom: 1rem;
  }
  .social img {
    width: 2.2em;
  }

  .garment {
    width: 100%;
    height: 100%;
  }

  .footernav li {
    margin-right: 0.25rem;
  }
}

@media only screen and (min-width: 38em) {
  header ol li {
    display: inline-block;
    padding-left: 2rem;
  }

  header nav ol,
  .social,
  .email {
    text-align: right;
  }

  header nav a:hover:after {
    width: 80%;
    background: #008d9b;
  }

  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  .logo {
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
  }

  .logosize {
    width: 5rem;
  }

  .social {
    padding-bottom: 0;
  }

  .social a {
    margin-right: 0.325rem;
  }

  .footernav li {
    margin-right: 0.25rem;
  }
}
