html {
  font-family: 'Open Sans', sans-serif;
}

/*
.text-content {
  max-width: 600px;
}
*/

.modal {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 11;
}

.modal h6 {
  color: #005562;
}

.modal p {
  margin-bottom: 0px;
  line-height: 1.2rem;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    z-index:10;
}

.btn-close {
  color: #003B44;
  text-decoration: none;
  border: 0;
}

.btn-close:hover {
  color: #008D9B;
  cursor: pointer;
}

@media only screen and (min-width: 60em) {

.modal {
  width: 50%;
  left: 25%;
  top: 5%;
  }

}
